{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SimpleBilling</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'simpleBilling/css/styles.css' %}">
    </head>
    <body>
        <h1>Edit Invoice</h1>

        <form id="invoice-form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="client-name">Client Name:</label>
            <input type="text" id="client-name" name="client_name" required><br><br>
    
            <label for="service-fee">Service Fee ($):</label>
            <input type="number" id="service-fee" name="service_fee" step="0.01" required><br><br>
    
            <label for="travel-expenses">Travel Expenses ($):</label>
            <input type="number" id="travel-expenses" name="travel_expenses" step="0.01" required><br><br>
    
            <label for="tax-percent">Tax ($):</label>
            <input type="number" id="tax-percent" name="tax_percent" step="0.01" required><br><br>
    
            <p><strong>Total: <span id="total_amount">$0.00</span></strong></p>
    
            <button type="submit">Submit Invoice</button>
        </form>
        
        <script src="{% static 'simpleBilling/js/invoice.js' %}"></script>
    </body>
</html>