{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SimpleBilling</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'simpleBilling/css/styles.css' %}">
    </head>
    <body>
        <h1>Simple Billing</h1>

        <a href="{%url 'create-invoice' %}">
            <button id="show-form-btn">New Bill</button>
        </a>
        
        <br>
        <div id="form-container" style="display: none;">
            <form id="invoice-form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <label for="client-name">Client Name:</label>
                <input type="text" id="client-name" name="client_name" required><br><br>
        
                <label for="service-fee">Service Fee ($):</label>
                <input type="number" id="service-fee" name="service_fee" step="0.01" required><br><br>
        
                <label for="travel-expenses">Travel Expenses ($):</label>
                <input type="number" id="travel-expenses" name="travel_expenses" step="0.01" required><br><br>
        
                <label for="tax-percent">Tax ($):</label>
                <input type="number" id="tax-percent" name="tax_percent" step="0.01" required><br><br>
        
                <label for="attachments">Attachments:</label>
                <input type="file" id="attachments" name="attachments" multiple><br><br>
        
                <p><strong>Total: <span id="total_amount">$0.00</span></strong></p>
        
                <button type="submit">Submit Invoice</button>
            </form>
        </div>

        <div id=invoices-list>
            {% for invoice in invoices%}
                <div class="invoice-card">
                    <h3>{{ invoice.client.name }}</h3>
                    <p>
                        Service Fee: ${{ invoice.service_fee }} <br>
                        Travel Expenses: ${{ invoice.travel_expenses }} <br>
                        Tax: {{ invoice.tax_percent }}%<br>
                        Total: ${{ invoice.total }}<br>
                        Created: {{ invoice.billing_date|date:"M d, Y H:i" }}
                    </p>
                    <a href="{%url 'edit-invoice' invoice.id %}">
                        <button id="show-form-btn">Edit</button>
                    </a>
                    <form method="post" action="{% url 'delete-invoice' invoice.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you ok deleting this bill? ');">
                            Delete
                        </button>
                    </form>
                </div>
            {% empty %}
                <p> No invoices yet. </p>
            {% endfor %}
        </div>
        
        <script src="{% static 'simpleBilling/js/invoice.js' %}"></script>
    </body>
</html>